<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="StockMonitorEntities" connectionString="metadata=res://*/StoreContext.csdl|res://*/StoreContext.ssdl|res://*/StoreContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=yasir-pc;Initial Catalog=StockMonitor;Persist Security Info=True;User ID=sergeyb;Password=fitness;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="CommandContainer" connectionString="metadata=res://*/Command.csdl|res://*/Command.ssdl|res://*/Command.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=yasir-pc;Initial Catalog=StockMonitor;Persist Security Info=True;User ID=sergeyb;Password=fitness;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>

